// @import './utilitis';
@import './root';

.header {
	height: 44px;
	line-height: 44px;
	&__horizontal-menu {
		a.active {
			color: $orange-color !important;
		}
		li:hover a {
			color: $orange-color !important;
		}
	}
	&__uplevel,
	&__profitloss-top {
		a {
			&:hover {
				color: white !important;
			}
		}
	}
	&__account {
		div:nth-child(2) {
			display: none;
		}
		&:hover {
			cursor: pointer;
			background-color: $primary-color;
			color: $orange-color;
		}
		&:hover div:nth-child(2) {
			display: block;
		}
	}
}
#app {
	iframe {
		border: none;
	}
	.active {
		color: $orange-color !important;
		font-weight: 700;
	}
	tr {
		line-height: 28px;
	}
	#history {
		.derivative-info-row-price > .derivative-info-row-step-price {
			border-bottom: 1.5px solid #444;
			// .derivative-info-row-step-price__item {
			// 	// border-left: 1.5px solid #444;
			// }
		}
	}
	#watchlist {
		tr:nth-of-type(even) {
			background-color: $third-color;
		}
	}
	#placeorder {
		.btn-price-match {
			border: 1px solid $white-color;
			border-radius: 3px;
		}

		label {
			text-align: start;
		}
		.calendar,
		.form-input-control {
			line-height: 30px;
			width: 100%;

			padding: 0 5px;
			border: none;
			border-radius: 4px;
			outline: none;
		}
	}
}
// WEBKIT
::-webkit-scrollbar-thumb {
	background: #393939;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
@media (max-width: 1200px) {
	.header {
		// &__
		&__profitloss-top {
			display: none;
		}
		&__menu {
			flex-grow: 1;
		}
	}
}
