// @import './utilitis';
@import './root';

.header {
	height: 44px;
	line-height: 44px;
	&__horizontal-menu {
		a.active {
			color: $orange-color !important;
		}
		li:hover a {
			color: $orange-color !important;
		}
	}
	&__uplevel,
	&__profitloss-top {
		a {
			&:hover {
				color: white !important;
			}
		}
	}
	&__account {
		&:hover {
			cursor: pointer;
			background-color: $primary-color;
			color: $orange-color;
		}
		&:hover ~ div {
			display: block !important;
		}
	}
}
#app {
	iframe {
		border: none;
	}
	.active {
		color: $orange-color !important;
		font-weight: 700;
	}
	tr {
		line-height: 28px;
	}
	#history {
		tbody {
			tr {
				border-bottom: 1.5px solid #444;
			}
			td:nth-child(3) {
				border-left: 1px solid #444;
			}
		}
	}
	#watchlist {
		tr:nth-of-type(even) {
			background-color: $third-color;
		}
	}
	#placeorder {
		.form-input-control {
			line-height: 30px;
			min-width: 240px;

			padding: 0 5px;
			border: none;
			border-radius: 4px;
			outline: none;
		}
	}
}
// WEBKIT
::-webkit-scrollbar-thumb {
	background: #393939;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
